* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    outline: none;
}

#button-start {
    width: 120px;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
}
#button-answer {
    width: 100px;
    height: 50px;
    font-size: 16px;
    margin-top: 100px;
}

.test-section {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: #eee;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.test-section__pic {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.test-section__question {
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 5px;
    margin-top: 5px;
}